@import '../css/style.css';

:root {
    --delay: 1.5s;
}

.pe {
    width: 100%;
    display: grid;
    place-items: center;
    position: relative;
    opacity: 0;
    transition: all var(--delay) ease;
}

.pe > .blur {
    position: absolute;
    box-shadow: 0 0 1200px 50px #00ffff8a;
    z-index: -100;
    left: 300px;
    top: 300px;
}

.pe > .blur2 {
    position: absolute;
    box-shadow: 0 0 1200px 50px #00ffff8a;
    z-index: -100;
    bottom: 350px;
    right: 300px;
}

.pe .gridContainer {
    padding: 100px 0;
    width: 1000px;
    height: 800px;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-areas: 
        'one two two two'
        'three three three four'
        'five five six six';
    gap: 10px;
}

.pe .gridContainer div:nth-child(1) {
    grid-area: one;
}
.pe .gridContainer div:nth-child(2) {
    grid-area: two;
    background-image: url('../imgs/blog/pe/377277970_746194514042106_1051006640412060937_n.jpg');
}
.pe .gridContainer div:nth-child(3) {
    grid-area: three;
    background-image: url('../imgs/blog/pe/406904601_687406076865743_4531445404136508033_n.jpg');
}
.pe .gridContainer div:nth-child(4) {
    grid-area: four;
}
.pe .gridContainer div:nth-child(5) {
    grid-area: five;
    background-image: url('../imgs/blog/pe/407086238_1076998799986020_4085223561962485680_n.jpg');
}
.pe .gridContainer div:nth-child(6) {
    grid-area: six;
    background-image: url('../imgs/blog/pe/406955580_731239238900134_8781776629576478481_n.jpg');
}

.pe .gridContainer div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    padding: 10px;
    color: #fff;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
}

.tree {
    width: 100%;
    display: grid;
    place-items: center;
    position: relative;
    opacity: 0;
    transition: all var(--delay) ease;
}

body > .show {
    opacity: 1;
}

.tree .gridContainer {
    padding: 100px 0;
    width: 1000px;
    height: 800px;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-areas: 
        'one one two two'
        'three four four five'
        'six six seven seven';
    gap: 10px;
}

.tree .gridContainer div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    padding: 10px;
    color: #fff;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
}

.tree .gridContainer div:nth-child(1) {
    grid-area: one;
    background-image: url('../imgs/blog/tree/407095314_1109093986750699_1851580428190896617_n.jpg');
}
.tree .gridContainer div:nth-child(2) {
    grid-area: two;
    background-image: url('../imgs/blog/tree/413075559_351594470824061_4474464236703522411_n.jpg');
}
.tree .gridContainer div:nth-child(3) {
    grid-area: three;
    background-image: url('../imgs/blog/tree/385564966_1427995191466087_6999474645328435875_n.jpg');
}
.tree .gridContainer div:nth-child(4) {
    grid-area: four;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    gap: 8px;
}
.tree .gridContainer div:nth-child(5) {
    grid-area: five;
    background-image: url('../imgs/blog/tree/393879200_738368761639259_2930094305411019330_n.jpg');
}
.tree .gridContainer div:nth-child(6) {
    grid-area: six;
    background-image: url('../imgs/blog/tree/407110823_357090066939964_8048951425621629274_n.jpg');
}
.tree .gridContainer div:nth-child(7) {
    grid-area: seven;
    background-image: url('../imgs/blog/tree/406863621_1090399905476057_8977862599689557406_n.jpg');
}

.tree .gridContainer div:nth-child(4) > .blur3 {
    position: absolute;
    box-shadow: 0 0 1200px 50px #00ffff8a;
    z-index: -100;
}

.lessons {
    color: #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lessons > .blogIntro {
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
    height: fit-content;
    max-width: 1000px;
    padding: 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 40vh 0;
    opacity: 0;
    position: relative;
    transition: all var(--delay) ease;
}

.lessons > .show {
    opacity: 1;
}

.lessons > .blogIntro > .blur4 {
    position: absolute;
    box-shadow: 0 0 1200px 50px #00ffff8a;
    z-index: -100;
    animation: triangularMove 20s linear infinite;
}

.lessons > .blogIntro > .blur5 {
    position: absolute;
    box-shadow: 0 0 1200px 50px #00ffff8a;
    z-index: -100;
    animation: linearMove 20s linear infinite;
}

.lessons > .blogIntro a {
    text-decoration: none;
    color: aqua;
    width: fit-content;
    position: relative;
}

.lessons > .blogIntro a::after {
    content: '';
    position: absolute;
    background-color: aqua;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    color: aqua;
    opacity: 0;
    transition: width 0.3s ease;
}

.lessons > .blogIntro a:hover::after {
    width: 100%;
    opacity: 1;
}

.lessons > .lessonsContainer {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lessons > .lessonsContainer > div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 1000px;
    position: relative;
}

.lessons > .lessonsContainer > div > .blur6 {
    position: absolute;
    box-shadow: 0 0 1200px 50px #00ffff8a;
    z-index: -100;
    top: 250px;
    left: 0;
}

.lessons > .lessonsContainer > div > .blur7 {
    position: absolute;
    box-shadow: 0 0 1200px 50px #00ffff8a;
    z-index: -100;
    bottom: 250px;
    right: 0;
}

.lessons > .lessonsContainer > div > div {
    display: flex;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
    padding: 30px;
    gap: 30px;
    border-radius: 10px;
    opacity: 0;
    transition: all 1.5s cubic-bezier(0.6, 0.02, 0.08, 1.03);
}

.lessons > .lessonsContainer > div > .left {
    transform: translateX(-200px);
}
.lessons > .lessonsContainer > div > .right {
    transform: translateX(200px);
}

.lessons > .lessonsContainer > div > .show {
    transform: translateX(0);
    opacity: 1;
}

.lessons > .lessonsContainer > div > div img {
    width: 300px;
    border-radius: 5px;
}

/* so much div, this is for the container of the text next to the images in the lessons section */
.lessons > .lessonsContainer > div > div > div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.lessons > .lessonsContainer > div > div > div a {
    text-decoration: none;
    color: aqua;
    position: relative;
    width: fit-content;
}

.lessons > .lessonsContainer > div > div > div a::after {
    content: '';
    position: absolute;
    background-color: aqua;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    color: aqua;
    opacity: 0;
    transition: width 0.3s ease;
}

.lessons > .lessonsContainer > div > div > div a:hover::after {
    width: 100%;
    opacity: 1;
}

@keyframes triangularMove {
    0%, 100% {
        left: 0;
        top: 0;
    }
    25% {
        left: 100px;
        top: 100px;
    }
    50% {
        left: 0;
        top: 200px;
    }
    75% {
        left: -100px;
        top: 100px;
    }
}

@keyframes linearMove {
    0%, 100% {
        right: 0;
        bottom: 150px;
    }
    25% {
        right: 0;
        bottom: 0;
    }
    50% {
        right: 150px;
        bottom: 0;
    }
    75% {
        right: 0;
        bottom: 0;
    }
}

@media (max-width: 600px) {
    .pe {
        padding: 20px;
        height: fit-content;
    }

    .pe .gridContainer {
        width: 100%;
        height: fit-content;
        grid-template-areas:
        'one'
        'four'
        'two'
        'three'
        'five'
        'six';
    }

    .pe .gridContainer > div {
        height: 250px;
    }

    .tree {
        padding: 20px;
        height: fit-content;
    }

    .tree .gridContainer {
        width: 100%;
        height: fit-content;
        grid-template-areas:
        'four'
        'one'
        'two'
        'three'
        'five'
        'six'
        'seven';
    }

    .tree .gridContainer > div {
        height: 250px;
    }
}